@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  padding: 0%;
}

section {
  /* background: linear-gradient(90deg, #AA2C06, #047346); */
  background: linear-gradient(90deg,  #FFFFFF, #a1b7ac);
}

/* style the login page */
.more-style {
  width: 18rem;
  height: 25rem;
  background-color: #9B9393;
  
}

.register-style {
  width: 18rem;
  height: 33rem;
  background-color: #9B9393;
  
}

.error-div {
  position: absolute;
  top: 1rem;
  width: 100%;
  text-align: center;
}

.popup {
  background-color: #f8d7da;
  color: #721c24;
  padding: 0.5rem;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.head {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 43.57px;
  text-align: center;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

span {
  height: 2rem;
}

.input-group-text {
  background-color: #f8f9fa; /* Matches the input background */
  border: none;
  color: grey; /* Set the icon color */
}

.form-control {
  background-color: #f8f9fa; /* Matches the input group background */
  border: 1px solid #ced4da; /* Optional: to match input border */
}

.input-group-text:focus, .form-control:focus {
  box-shadow: none; /* Remove the focus shadow */
}

.input1 {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
}

.input2 {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  margin-bottom: 0%;
}

.input3 {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  margin-bottom: 0%;
}

.forgot-password {
  color: hsl(0, 0%, 4%);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.675rem;
  margin-top: 0%;
}

.forgot-password:hover {
  text-decoration: underline;
}

.Terms {
  color: #007bff;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.675rem;
  line-height: 1;
}

.Terms:hover {
  text-decoration: underline;
}

.terms-text {
  font-weight: 100;
  font-size: 10px;
  margin: 0;
  padding: 0;
  line-height: 1;
}

button {
  width: 100%;
  height: 2rem;
  background: linear-gradient(90deg, #003018, #AA2C06);
  color: #ffffff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 10px;
  font-weight: 700;
}

button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.signup {
  color: hsl(0, 0%, 4%);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.875rem;
}

.signup:hover {
  text-decoration: underline;
}

.form-check-inline {
  margin-left: 1rem;
  margin-top: 0;
}

.form-check-input {
  cursor: pointer;
  margin-right: 0.2rem;
  margin-top: 0rem;
}